<p>createbookissuedetails works!</p>
<div>
    <h1></h1>
    <form>
        issueid:<input type="text" name="issueid"[(ngModel)]="bookissue.issueid"><br>
        issuedate:<input type="text" name="issuedate"[(ngModel)]="bookissue.issuedate"><br>
        returningdate:<input type="text" name="returningdate"[(ngModel)]="bookissue.returningdate"><br>
        period:<input type="text" name="period"[(ngModel)]="bookissue.period"><br>
        cardid:<input type="text" name="cardid"[(ngModel)]="bookissue.cardid"><br>

    </form>
    {{msg}}
</div>