<p>createstaff works!</p>
<div>
    <h1></h1>
    <form>
        staffid:<input type="text" name="staffid"[(ngModel)]="staff.staffid"><br>
        staffname:<input type="text" name="staffname"[(ngModel)]="staff.staffName"><br>
        staffemail:<input type="text" name="staffemail"[(ngModel)]="staff.staffemail"><br>
        staffphno:<input type="text" name="staffphno"[(ngModel)]="staff.staffphno"><br>
        staffqualification:<input type="text" name="staffqualification"[(ngModel)]="staff.staffqualification"><br>
        studentid:<input type="text" name="studentid"[(ngModel)]="staff.studentid"><br>
        <input type="button" value="submit" (click)="createStaff()">
    </form>
</div>
